.favoriteCatsContainer{
    width: 100%;
    padding: 48px 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
}

@media screen and (max-width: 1400px) {
    .favoriteCatsContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1180px) {
    .favoriteCatsContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 930px) {
    .favoriteCatsContainer{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px) {
    .favoriteCatsContainer{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}